MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=file_manager
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
PUBLIC_BASE_URL=http://localhost:8085
WEB_BASE_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
APP_ENCRYPTION_KEY=
